
button.btn.btn-active {
  background-color: var(--bhover);
  color: #f8f9fa;
}


/* button.btn.btn-outline-light:hover{
  background-color: var(--bhover);
  color: #f8f9fa;
} */


  .bg-nav{
    background-color: var( --black);
    padding: 20px;
    overflow-y: auto; 
    z-index: 1000; 
  }
  .bg-glight{
    color: var(--admin-text);
    font-weight: 600;
  }

.admin-dashboard {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
}

.content-area {
  padding: 100px;
  flex-grow: 1;
  overflow-y: auto;
}

@media (min-width: 768px) {
 
  .admin-dashboard {
    flex-direction: row; 
  }

  .bg-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
   
  }

  .content-area {
    margin-left: 250px;
  }
}


@media (max-width: 767px) {
  .bg-nav {
    width: 100%;
    position: relative; 
    height: auto;
  }

  .content-area {
    margin-left: 0; 
  }
}

.btn {
  transition: background-color 0.3s ease;
}


.col-md-9 {
  animation: fadeIn 1s ease-in-out;
 
}


@keyframes slideInLeft {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
