/* searchbox.css */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


.anima {
  animation: fadeInUp 0.5s ease-in-out;
}


@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(10%);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}


.searchbox-container {
  position: relative;
  height: 50px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.searchbox-container.searchbox-active {
  width: 350px;
}

.searchbox-input {
  width: 98%;
  height: 100%;
  border: none;
  border-radius: 50px;
  background: #fff;
  outline: none;
  padding: 0 60px 0 20px;
  font-size: 18px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.searchbox-input.searchbox-active {
  opacity: 1;
}

.searchbox-input::placeholder {
  color: #a6a6a6;
}

.searchbox-search-icon {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  height: 60px;
  width: 60px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 22px;
  color: var(--blue);
  cursor: pointer;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.searchbox-container.searchbox-active .searchbox-search-icon {
  right: 5px;
  height: 50px;
  line-height: 50px;
  width: 50px;
  font-size: 20px;
  background: var(--blue);
  color: #fff;
  transform: translateY(-50%) rotate(360deg);
}

.searchbox-cancel-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  color: var(--black);
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.searchbox-cancel-icon.searchbox-active {
  right: -40px;
  transform: translateY(-50%) rotate(360deg);
}

.searchbox-search-data {
  text-align: center;
  padding-top: 7px;
  color: #fff;
  font-size: 18px;
  word-wrap: break-word;
}

.searchbox-search-data.searchbox-active {
  display: none;
}
